
.loading {
    position:fixed;
    top: 50%;
    left: 50%;
    width:4em;
    height:8em;
    margin-top: -4em; /*set to a negative number 1/2 of your height*/
    margin-left: -2em; /*set to a negative number 1/2 of your width*/
}
.loading:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid rgb(74, 25, 207);
    border-color: rgb(74, 25, 207) transparent rgb(74, 25, 207) transparent;
    animation: loading 1.2s infinite;
}
@keyframes loading {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}