.search-container{
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px) {
    .search-container{
        padding-top: 8rem;
        padding-bottom: 1rem;
        margin-left: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .closeDrawer-btn{
        width: 55px
    }
}