.recipe-card{
    height: 350px;
    width: 260px;
}
.recipe-card-wrapper{
    width: 280px;
    height: 400px;
}

.recipe-list-container{
    margin-left: 280px;
    position: relative
}

@media (max-width: 600px) {
    .recipe-list-container{
        width:100%;
        padding-top:1rem;
        margin:auto;
        z-index: 5;
        height:75%;
        position: fixed;
        top:11rem;
        overflow: auto;
    }
}