.recipe-card{
    height: 350px;
    width: 260px;
}
.recipe-card-wrapper{
    width: 280px;
    height: 400px;
}

.recipe-list-container{
    margin-left: 280px;
    position: relative
}

@media (max-width: 580px) {
    .recipe-list-container{
        width:100%;
        padding-top:2rem;
        margin:auto;
        z-index: 5;
        height:100%;
        overflow: auto;
        position: fixed;
        /* display: flex;
        align-items: center;
        justify-content: center; */
    }
}